NEXT_PUBLIC_API_ORIGIN=https://apidriver.jacochef.ru
NEXT_PUBLIC_LEGACY_API_ORIGIN=https://apidriver.jacochef.ru
NEXT_PUBLIC_MEDIA_ORIGIN=https://apidriver.jacochef.ru

NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_TRACES_SAMPLE_RATE=0.1
NEXT_PUBLIC_SENTRY_REPLAYS_SESSION_SAMPLE_RATE=0.02
NEXT_PUBLIC_SENTRY_REPLAYS_ON_ERROR_SAMPLE_RATE=1
SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=0.1
