@import "./settings";

.monthList{
    & .MuiListItemText-root{
        @include font30_400();
        text-align: center;
    }
    & .active .MuiListItemText-root{
        font-weight: 800!important;
        color: $colorMain;
    }
}

.graph{ 
    margin-top: 64px!important;
    margin-bottom: 50px!important;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    z-index: 3;

    & .MuiGrid-item{
        padding-left: 0;
    }
    & > div:first-child{
        display: flex;
        justify-content: center
    }

    & h1, h2{
        @include font75_700();
        text-align: start;
        width: 100%;
    }
    
    & p,b,span, th, td, button{
        @include font30_400();
    }
    & b{
        font-weight: 800!important;
        
    }
    & li{ 
        & > div{
            padding-left: 0;
        }
        & span{
            padding-left: 5px;
        }
    }
    & #tableGraph th, #tableGraph td{
        padding: 8px!important
    }
}

.modalErr{
    & .MuiDrawer-paper.MuiDrawer-paperAnchorBottom{
        max-height: calc(100% - $MyScale400_mobile);
        border-radius: $MyScale80_mobile $MyScale80_mobile 0 0;
    }
    & .lineModal {
        width: $MyScale150_mobile;
        min-height: $MyScale10_mobile;
        border-radius: $MyScale5_mobile;
        background: rgba(0, 0, 0, 0.2);
        margin: 0 auto;
        margin-bottom: $MyScale80_mobile;
    }
}