@import "./settings";

.map_orders{
    width: 100vw!important;
    margin: 56px 0 0!important;
    height: calc(100vh - 56px);
}

.map{ 
    position: absolute;
    margin-top: 64px!important;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    z-index: 3;

    & .MuiGrid-item{
        padding-left: 0;
    }
    & .MuiFormControl-root.MuiTextField-root{
        width: 100%;
    }

    & > div:first-child{
        display: flex;
        justify-content: space-between;
        & > button{
            @include font_custom(1rem, 500, $colorMain);
        }
    }
    & > div:last-child{
        text-align: center;
        @include font_custom(1.2rem, 800);
    }
}