@import './settings';

.modalOrderPay {
  & .MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorBottom {
    max-height: calc(100% - $MyScale400_mobile);
    border-radius: $MyScale80_mobile $MyScale80_mobile 0 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    & .lineModal {
      width: $MyScale150_mobile;
      min-height: $MyScale10_mobile;
      border-radius: $MyScale5_mobile;
      background: rgba(0, 0, 0, 0.2);
      margin: 0 auto;
      margin-bottom: $MyScale80_mobile;
      margin-top: $MyScale40_mobile;
    }

    & .btnGOOD {
      @include font_custom(1.2rem, 400, #fff);
      background-color: #3caa3c;
      height: $MyScale150_mobile;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: $MyScale40_mobile;
      margin: $MyScale50_mobile;
    }
  }
}

.modalOrderMap {
  & .MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorBottom {
    max-height: 75vh;
    border-radius: $MyScale80_mobile $MyScale80_mobile 0 0;
  }
  
  & .lineModal {
    width: $MyScale150_mobile;
    min-height: $MyScale10_mobile;
    border-radius: $MyScale5_mobile;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-bottom: $MyScale80_mobile;
  }

  & .OrderCard,
  .modalOrderDelContent {
    border-radius: $MyScale80_mobile $MyScale80_mobile 0 0;
    margin: 0px !important;
    width: calc(100% - 40px) !important;
  }

  & .modalOrderDelContent {
    & span {
      @include font_custom(1.2rem, 400);
    }
    & span:last-child {
      margin-bottom: 20px;
    }
  }

  & .btnGOOD {
    @include font_custom(1.2rem, 400, #fff);
    background-color: #3caa3c;

    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 20px;
  }
}

.flex.flex-col.justify-center.font-bold {
  display: none;
}
footer.w-content.pb-3 {
  display: none;
}
section.fixed.inset-x-0.bottom-0.z-10.transition-transform.duration-1000.translate-y-0 {
  display: none;
}
#app_url {
  color: #fff;
  overflow: hidden;
}
div.text-base {
  display: none;
}

#payment-form {
  & header {
    & > div {
      margin: 0 auto;
      width: max-content;
      & svg {
        width: 100%;
      }
    }
  }
  & canvas {
    width: 100%;
  }
}

.OrderCard {
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
  height: calc(100% - 40px);
  //flex: 1 0 21%;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;

  -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);

  & a {
    text-decoration: none;
  }

  & .number {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    & > span {
      @include font_custom(1.2rem, 500);
    }
  }
  & .counts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    & > span {
      text-align: center;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 10px;
      overflow: hidden;
      border-width: 1px;

      &.Blue {
        @include font_custom(1.2rem, 500, #fff);
        background-color: #2c75ff;
        color: #fff;
      }
      &.Purpur {
        @include font_custom(1.2rem, 500, #fff);
        background-color: #53377a;
        color: #fff;
      }
      &.Red {
        @include font_custom(1.2rem, 500, #fff);
        background-color: #fc2847;
        color: #fff;
      }
      &.Green {
        @include font_custom(1.2rem, 500, #fff);
        background-color: #3caa3c;
        color: #fff;
      }
    }
  }
  & .addr {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 15px;
    & > .addr_1, .addr_2 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      & > span:first-child {
        @include font_custom(1.2rem, 800);
        padding-right: 5px;
      }
      & > span:last-child {
        @include font_custom(1.2rem, 400);
        padding-right: 5px;
      }
    }
    & > .addr_2 {
      & > b {
        @include font_custom(1.2rem, 800);
        padding-right: 5px;
      }
      & > span {
        @include font_custom(1.2rem, 400);
        padding-right: 5px;
      }
    }
    & > .addr_3 {
      @include font_custom(1.2rem, 800);
    }
  }
  & .by_time {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 5px;
    padding-top: 10px;
    & > span:first-child {
      @include font_custom(1.2rem, 800);
      padding-right: 5px;
    }
    & > span:last-child {
      @include font_custom(1.2rem, 400);
    }
  }
  & .by_time_1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & > span:first-child {
      @include font_custom(1.2rem, 800);
      padding-right: 5px;
    }
    & > span:last-child {
      @include font_custom(1.2rem, 400);
    }
  }
  & .comment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 5px;
    width: 100%;
    & > span:first-child {
      @include font_custom(1.2rem, 800);
      padding-right: 5px;
    }
    & > span:last-child {
      @include font_custom(1.2rem, 400);
    }
  }
  & .block_price {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 5px;
    width: 100%;
    & > span:first-child {
      @include font_custom(1.2rem, 800);
      padding-right: 5px;
    }
    & > span.is_paid:last-child {
      @include font_custom(1.2rem, 800, #fc2847);
    }
    & > span:not(.is_paid):last-child {
      @include font_custom(1.2rem, 400);
    }
  }
  & .action_get {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
    & > a {
      @include font_custom(1.3rem, 400);
      background-color: #bababa;
      width: 100%;
      margin-bottom: 20px;

      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
    }
    & > button {
      @include font_custom(1.3rem, 400, #fff);
      background-color: #3caa3c;
      width: 100%;

      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
    }
  }
  & .action_my {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      & > button {
        @include font_custom(1.2rem, 400, #fff);
        background-color: #fc2847;

        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        width: 40%;
        margin-right: 5px;
      }
      & > a {
        @include font_custom(1.2rem, 400);
        background-color: #bababa;

        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        margin-left: 10px;
        flex: 1;
      }
    }

    & > .finish_group {
      width: 100%;
      margin-top: 20px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & button {
        padding: 0;
        margin: 0;
        border-radius: 10px;
        background-color: #3caa3c;
        @include font_custom(1.2rem, 400, #fff);
      }

      & button:first-child {
        width: 75%;
      }

      & button:last-child {
        width: 20%;
      }
    }

    & > .finish {
      width: 100%;
      margin-top: 20px;

      @include font_custom(1.2rem, 400, #fff);
      background-color: #3caa3c;

      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
    }
    & > .client {
      width: 100%;
      margin-top: 20px;

      @include font_custom(1.2rem, 400);
      background-color: #ffcc00;

      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
    }
  }
  & .action_other {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 0px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
    & > button {
      width: 100%;
      text-align: center;

      @include font_custom(1.2rem, 400);
      background-color: #bababa;

      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
    }
    & > a {
      width: 100%;
      text-align: center;
      margin-top: 20px;

      @include font_custom(1.2rem, 400);
      background-color: #bababa;

      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
    }
  }
}
